<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div class="body" layout:fragment="body">

<div class="float-right">
</div>

	<div>
		<table class="table">
	  	<thead class="thead-light" align="center">
	  		<tr>
	  			<!-- <th scope="col" style="display:none;"></th> -->
	  			<th scope="col">부서</th>
	  			<th scope="col">성명</th>
	  			<th scope="col">직급</th>
	  			<th scope="col">날짜</th>
	  			<th scope="col">기존출근시간</th>
	  			<th scope="col">요청출근시간</th>
	  			<th scope="col">기존퇴근시간</th>
	  			<th scope="col">요청퇴근시간</th>
	  			<th scope="col">기존구분</th>
	  			<th scope="col">요청구분</th>
	  			<th scope="col">결재상태</th>
	  		</tr>
	  	</thead>
  		
  		<tbody  th:with="result=${result.result}" align="center">
    		<tr th:each="electronicApproval:${result.content}">
      			<!-- <td style="display:none;"><input type="hidden" th:value=${electronicApproval.eano}></td> -->
				<td>[[${electronicApproval.timeAttendance.department.deptnm}]]</td>
      	    	<td><a th:href='${electronicApproval.eano}' class="taLink">[[${electronicApproval.timeAttendance.employee.empnm}]]</a></td>
				<td>[[${electronicApproval.timeAttendance.position.positionnm}]]</td>
		    	<td>[[${electronicApproval.timeAttendance.taday}]]</td>
		    	<td>[[${electronicApproval.starttime_b}]]</td>
		    	<td>[[${electronicApproval.starttime}]]</td>
		    	<td>[[${electronicApproval.endtime_b}]]</td>
		    	<td>[[${electronicApproval.endtime}]]</td>
		    	<td>[[${electronicApproval.timeAttendance.tatype.tatypenm}]]</td>
		    	<td>[[${electronicApproval.tatype.tatypenm}]]</td>
		    	<td>[[${electronicApproval.eaStatus.eastatusnm}]]</td>
		    </tr> 
		  </tbody>
  		</table>
  	</div>
  	
	
	<!-- 페이징 시작 -->
	<nav>
		<div>
		 	<ul class="pagination justify-content-center">
		 		<li class="page-item" th:if="${result.prevPage}">
					<a th:href="${result.prevPage.pageNumber}+1" class="page-link"> PREV</a>
				</li>
				<li class="page-item page-item-warning" th:classappend="${p.pageNumber == result.currentPageNum-1}?active:''" th:each="p:${result.pageList}">
					<a th:href="${p.pageNumber}+1" class="page-link" >[[${p.pageNumber} +1]]</a>
				</li>
				<li class="page-item" th:if="${result.nextPage}">
					<a th:href="${result.nextPage.pageNumber}+1" class="page-link"> NEXT</a>
				</li>
			</ul>
		</div>
	</nav> 
	
	<div class="form-row justify-content-center">
    	<div class="col-auto">
    		<input type="date" id="sdate" th:value="${pageVO.sdate}"  class="form-control"/>
		</div>
		<div class="col-auto">
    		~
		</div>
		<div class="col-auto">
    		<input type="date" id="edate" th:value="${pageVO.edate}" class="form-control"/>
		</div>
    	
     	<div class="col-auto">
	     	<select class="custom-select" id="searchType">
				<option value="">상태</option>
				<option th:each="result2:${result2}"	th:value="${result2.eastatusno}" th:text="${result2.eastatusnm}" 	th:selected="(${result2.eastatusno} == ${pageVO.type})"></option>
			</select>
		</div>
		
		<div  class="col-auto">
			<button id='searchBtn' class='btn btn-outline-secondary btn-md'>검색</button>
		</div>
	</div>
		<div>
		</div>
	<!-- SCRIPT -->
	<form id='f1' th:action="@{chkReqList}" method="get" class='col-sm-3'>
		<input type='hidden' name='page' th:value=${result.currentPageNum}>
		<input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
		<input type='hidden' name='type' th:value=${pageVO.type}>
		<input type='hidden' name='keyword' th:value=${pageVO.keyword}>
		<input type='hidden' name='sdate' th:value=${pageVO.sdate}>
		<input type='hidden' name='edate' th:value=${pageVO.edate}>
	</form>
</div>

<!-- 페이징 시작 -->
<nav>
	<div>
	 	<ul class="pagination justify-content-center">
	 		<li class="page-item" th:if="${result.prevPage}">
				<a th:href="${result.prevPage.pageNumber}+1" class="page-link"> PREV</a>
			</li>
			<li class="page-item page-item-warning" th:classappend="${p.pageNumber == result.currentPageNum-1}?active:''" th:each="p:${result.pageList}">
				<a th:href="${p.pageNumber}+1" class="page-link" >[[${p.pageNumber} +1]]</a>
			</li>
			<li class="page-item" th:if="${result.nextPage}">
				<a th:href="${result.nextPage.pageNumber}+1" class="page-link"> NEXT</a>
			</li>
		</ul>
	</div>
</nav> 

<th:block layout:fragment="script">
	<script th:inline="javascript">
 	$(window).on('load', function(){
		
		var msg = [[${msg}]];
		
		if(msg =='approvalSuccess') {
			alert("승인처리가 완료되었습니다.");
			var stateObj = { msg: "" };
		}
		if(msg =='delSuccess') {
			alert("반려처리가 완료되었습니다.");
			var stateObj = { msg: "" };
		}
	}); 

	$(document).ready(function() {
		
		var formObj = $("#f1");
		
		$(".pagination a").click(function(e) {
			e.preventDefault();
			formObj.find('[name="page"]').val($(this).attr('href'));
			formObj.submit();
		});
		
		$(".pagination a").click(function(e) {
			e.preventDefault();
			formObj.find('[name="page"]').val($(this).attr('href'));
			formObj.submit();
		});
		
		$(".taLink").click(function(e){
			e.preventDefault();
			
			var eaNo = $(this).attr("href");
			
			formObj.attr("action", [[@{'/admin/chkReqView'}]]);
			formObj.append("<input type='hidden' name='eano' value='"+eaNo+"'>");
			formObj.submit();
		});

		

		$("#searchBtn").click(function(e){
			
			var typeStr = $("#searchType").find(":selected").val();
			var keywordStr = $("#searchKeyword").val();
			var sdateStr = $("#sdate").val();
			var edateStr = $("#edate").val();
			
			if(edateStr=="" || edateStr==null){
			}else if(edateStr!=""){
				if(sdateStr>edateStr){
					alert('시작일자가 종료일자보다 클 수 없습니다.');
					return false
				}
			}

			console.log(typeStr, "" , keywordStr);
			
			formObj.find("[name='type']").val(typeStr);
			formObj.find("[name='keyword']").val(keywordStr);
			formObj.find("[name='sdate']").val(sdateStr);
			formObj.find("[name='edate']").val(edateStr);
			formObj.find("[name='page']").val("1");
			formObj.submit();
		});
	});
	</script>
</th:block>