<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div class="body" layout:fragment="body">

<!-- <div class="float-right">
	<a class="badge badge-secondary" th:href="@{register}">신규등록</a>
</div> -->

<table class="table">
  <thead class="thead-light" align="center">
    <tr>
      <th scope="col">부서</th>
      <th scope="col">직급</th>
      <th scope="col">성명</th>
      <th scope="col">날짜</th>
      <th scope="col">출근시간</th>
      <th scope="col">퇴근시간</th>
      <th scope="col">구분</th>
      <th scope="col">휴일근무</th>
      <th scope="col">비고</th>
      <!-- <th scope="col">문의하기</th> -->
    </tr>
  </thead> 
  <tbody th:with="result=${result.result}" align="center">
      
    <tr th:each="timeAttendance:${result.content}">
      <td>[[${timeAttendance.department.deptnm}]]</td>
      <td>[[${timeAttendance.position.positionnm}]]</td>      <td><a th:href='${timeAttendance.tno}' class="taLink">[[${timeAttendance.employee.empnm}]]</a></td>
      <td>[[${timeAttendance.taday}]]</td>
      <td>[[${timeAttendance.starttime}]]</td>
      <td>[[${timeAttendance.endtime}]]</td>
      <td>[[${timeAttendance.tatype.tatypenm}]]</td>
      <td>[[${timeAttendance.scheduleType.schedulename}]]</td>
      <td>[[${timeAttendance.memo}]]</td>
      <!-- <td><button type="button" id="openEmailModal" class="btn btn-outline-secondary" data-toggle="modal" th:data-id='${timeAttendance.tno}' data-target='#emailModalCenter'>문의</button></td> -->
    </tr> 
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="emailModalCenter" tabindex="-1" role="dialog" aria-labelledby="emailModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">내용을 작성해주세요.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group">
         	<input type="hidden" name='etno'/>
           <textarea class="form-control" id="emailContent"></textarea>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-outline-secondary" id="sendEmail">문의하기</button>
      </div>
    </div>
  </div>
</div>

 <!-- 페이징 시작 -->
	<nav>
		<div>
		 	<ul class="pagination justify-content-center">
		 		<li class="page-item" th:if="${result.prevPage}">
					<a th:href="${result.prevPage.pageNumber}+1" class="page-link"> PREV</a>
				</li>
				<li class="page-item page-item-warning" th:classappend="${p.pageNumber == result.currentPageNum-1}?active:''" th:each="p:${result.pageList}">
					<a th:href="${p.pageNumber}+1" class="page-link" >[[${p.pageNumber} +1]]</a>
				</li>
				<li class="page-item" th:if="${result.nextPage}">
					<a th:href="${result.nextPage.pageNumber}+1" class="page-link"> NEXT</a>
				</li>
			</ul>
		</div>
	</nav> 
	
	<div class="form-row justify-content-center">
    	<div class="col-auto">
    		<input type="date" id="sdate" th:value="${pageVO.sdate}"  class="form-control"/>
		</div>
		<div class="col-auto">
    		~
		</div>
		<div class="col-auto">
    		<input type="date" id="edate" th:value="${pageVO.edate}" class="form-control"/>
		</div>
    	
     	<div class="col-auto">
	     	<select class="custom-select" id="searchType">
				<option value="">구분</option>
				<option th:each="result2:${result2}"	th:value="${result2.tatypeno}" th:text="${result2.tatypenm}" 	th:selected="(${result2.tatypeno} == ${pageVO.type})"></option>
			</select>
		</div>
		
    <!--
     	<div class="col-auto">
			<select class="custom-select custom-select-sm" id="searchType">
				<option>검색</option>
				<option value='d' th:selected="${pageVO.type} == 'd'">부서</option>
				<option value='enm' th:selected="${pageVO.type} == 'enm'">이름</option>
				<option value='eno' th:selected="${pageVO.type} == 'eno'">사번</option>
				<option value='m' th:selected="${pageVO.type} == 'm'">메모</option>
			</select>
		</div>
		<div class="col-auto">
			<input type='text' id='searchKeyword' th:value='${pageVO.keyword}' class='form-control form-control-sm' >
		</div>
		 -->
		<div  class="col-auto">
			<button id='searchBtn' class='btn btn-outline-secondary btn-md'>검색</button>
		</div>
	</div>
	<!-- SCRIPT -->
	<form id='f1' th:action="@{list}" method="get" class='col-sm-3'>
		<input type='hidden' name='page' th:value=${result.currentPageNum}>
		<input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
		<input type='hidden' name='type' th:value=${pageVO.type}>
		<input type='hidden' name='keyword' th:value=${pageVO.keyword}>
		<input type='hidden' name='sdate' th:value=${pageVO.sdate}>
		<input type='hidden' name='edate' th:value=${pageVO.edate}>
	</form>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">

		$(window).on('load', function(){
			
			var msg = [[${msg}]];
			
			if(msg =='regSuccess') {
				alert("등록이 완료되었습니다.");
				var stateObj = { msg: "" };
			}
			if(msg =='delSuccess') {
				alert("삭제가 완료되었습니다.");
				var stateObj = { msg: "" };
			}
			
			
		});
	
		$(document).ready(function() {
			
			var formObj = $("#f1");
			
			$(".pagination a").click(function(e) {
				e.preventDefault();
				formObj.find('[name="page"]').val($(this).attr('href'));
				formObj.submit();
			});
			
			$(".taLink").click(function(e){

				e.preventDefault();
				
				var taNo = $(this).attr("href");
				
				formObj.attr("action", [[@{'/ta/view'}]]);
				formObj.append("<input type='hidden' name='tno' value='"+taNo+"'>");
				formObj.submit();
			});
			
			$(".taLink2").click(function(e){

				e.preventDefault();
				
				var taNo = $(this).attr("href");
				
				formObj.attr("action", [[@{'/ta/sendEmail'}]]);
				formObj.append("<input type='hidden' name='tno' value='"+taNo+"'>");
				formObj.submit();
			});
			
			$("#openEmailModal").click(function(){
			     $('.modal-body #etno').val($(this).data('id'));
			});
			
			$("#sendEmail").click(function(e){

				e.preventDefault();
				
				var etno = $('.modal-body #etno');
				var emailContent = $('.modal-body #emailContent');
				
				formObj.attr("action", [[@{'/ta/sendEmail'}]]);
				formObj.append("<input type='hidden' name='etno' value='"+etno+"'>");
				formObj.append("<input type='hidden' name='emailContent' value='"+emailContent+"'>");
				formObj.submit();
			});
			
			$("#searchBtn").click(function(e){
				var typeStr = $("#searchType").find(":selected").val();
				var keywordStr = $("#searchKeyword").val();
				var sdateStr = $("#sdate").val();
				var edateStr = $("#edate").val();
				
				if(edateStr=="" || edateStr==null){
				}else if(edateStr!=""){
					if(sdateStr>edateStr){
						alert('시작일자가 종료일자보다 클 수 없습니다.');
						return false
					}
				}

				console.log(typeStr, "" , keywordStr);
				
				formObj.find("[name='type']").val(typeStr);
				formObj.find("[name='keyword']").val(keywordStr);
				formObj.find("[name='sdate']").val(sdateStr);
				formObj.find("[name='edate']").val(edateStr);
				formObj.find("[name='page']").val("1");
				formObj.submit();
			});
			
		});
	</script>
</th:block>


