<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" -->

<div class="body" layout:fragment="body">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">부서</th>
      <th scope="col">직급</th>
      <th scope="col">성명</th>
      <th scope="col">출근시간</th>
      <th scope="col">퇴근시간</th>
      <th scope="col">비고</th>
    </tr>
  </thead> 
  <tbody th:with="result=${result.result}">
    <tr th:each="timeAttendance:${result.content}">
      <td th:text="${timeAttendance.department.deptnm}"></td>
      <td th:text="${timeAttendance.position.positionnm}"></td>
      <td th:text="${timeAttendance.employee.empnm}"></td>
      <td th:text="${timeAttendance.starttime}"></td>
      <td th:text="${timeAttendance.endtime}"></td>
      <td th:text="${timeAttendance.memo}"></td>
    </tr> 
  </tbody>
</table>

 <!-- 페이징 시작 -->
	<nav>
		<div>
		 	<ul class="pagination justify-content-center">
		 		<li class="page-item" th:if="${result.prevPage}">
					<a th:href="${result.prevPage.pageNumber}+1" class="page-link"> PREV</a>
				</li>
				<li class="page-item" th:classappend="${p.pageNumber == result.currentPageNum-1}?active:''" th:each="p:${result.pageList}">
					<a th:href="${p.pageNumber}+1" class="page-link" >[[${p.pageNumber} +1]]</a>
				</li>
				<li class="page-item" th:if="${result.nextPage}">
					<a th:href="${result.nextPage.pageNumber}+1" class="page-link"> NEXT</a>
				</li>
			</ul>
		</div>
	</nav> 
	<div class="form-row justify-content-center">
    	<div class="col-auto">
			<select class="custom-select custom-select-sm" id="searchType">
				<option>전체</option>
				<option value='d' th:selected="${pageVO.type} == 'd'">부서</option>
				<option value='enm' th:selected="${pageVO.type} == 'enm'">이름</option>
				<option value='eno' th:selected="${pageVO.type} == 'eno'">사번</option>
				<option value='m' th:selected="${pageVO.type} == 'm'">메모</option>
			</select>
		</div>
	    <div class="col-auto">
			<input type='text' id='searchKeyword' th:value='${pageVO.keyword}' class='form-control form-control-sm' >
		</div>
		<div  class="col-auto">
			<button id='searchBtn' class='btn btn-secondary btn-sm'>검색</button>
		</div>
	</div>
	
	<!-- SCRIPT -->
	<form id='f1' th:action="@{list}" method="get" class='col-sm-3'>
		<input type='hidden' name='page' th:value=${result.currentPageNum}>
		<input type='hidden' name='size' th:value=${result.currentPage.pageSize}>
		<input type='hidden' name='type' th:value=${pageVO.type}>
		<input type='hidden' name='keyword' th:value=${pageVO.keyword}>
	</form>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
	$(document).ready(function() {
		var formObj = $("#f1");
		$(".pagination a").click(function(e) {
			
			e.preventDefault();
			formObj.find('[name="page"]').val($(this).attr('href'));
			formObj.submit();
		});
		

		
		$("#searchBtn").click(function(e){
			var typeStr = $("#searchType").find(":selected").val();
			var keywordStr = $("#searchKeyword").val();
			
			console.log(typeStr, "" , keywordStr);
			
			formObj.find("[name='type']").val(typeStr);
			formObj.find("[name='keyword']").val(keywordStr);
			formObj.find("[name='page']").val("1");
			formObj.submit();
		});

	});
	</script>
</th:block>


