<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div class="body" align="center" layout:fragment="body">
	<div class="alert alert-success" role="alert">
	  <h4 class="alert-heading">전달 완료</h4>
	  <p>문의가 정상적으로 전달되었습니다.</p>
	  <hr>
	  <p class="mb-0">감사합니다.</p>
	</div>
	<a th:href="@{/ta/list}"><button class='btn btn-outline-secondary btn-sm'>목록으로</button></a>
</div>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	</script>
</th:block>


