<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div class="form-group" align="center" layout:fragment="body">

	<div class="form-group col-lg-10">
		<table class="table">
			<tr>
				<td>
					<div class="form-group ">
						<label>사번</label>
					</div>
				</td>
				<td>
					<div class="form-group ">
						<input class="form-control" name="empno" th:value="${vo.empno}"
							readonly="readonly" />
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="form-group ">
						<label>이름</label>
					</div>
				</td>
				<td>
					<div class="form-group ">
						<input class="form-control" name="empnm"
							th:value="${vo.employee.empnm}" readonly="readonly" />
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="form-group ">
						<label>부서</label>
					</div>
				</td>
				<td>
					<div class="form-group ">
						<select class="custom-select" name="deptno" disabled>
							<option>부서</option>
							<option th:each="result2:${result2}" th:value="${result2.deptno}"
								th:text="${result2.deptnm}"
								th:selected="${result2.deptno == vo.deptno}"></option>
						</select>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="form-group ">
						<label>직급</label>
					</div>
				</td>
				<td>
					<div class="form-group ">
						<select class="custom-select" name="positionno" disabled>
							<option>직급</option>
							<option th:each="result3:${result3}"
								th:value="${result3.positionno}" th:text="${result3.positionnm}"
								th:selected="${result3.positionno == vo.positionno}"></option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group">
						<div class="input-group">근태정보</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="input-group">
							<input type="date" class="form-control text-center" name="taday"
								th:value="${vo.taday}" readonly="readonly" /> <input type="time"
								class="form-control text-center" name="starttime"
								th:value="${vo.starttime}" readonly="readonly" /> <input
								type="time" class="form-control text-center" name="endtime"
								th:value="${vo.endtime}" readonly="readonly" /> 
								<select class="custom-select" name="tatypeno" disabled>
								<option>타입</option>
								<option th:each="result:${result}" th:value="${result.tatypeno}"
									th:text="${result.tatypenm}"
									th:selected="${result.tatypeno == vo.tatypeno}"></option>
							</select>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<!-- <td colspan="2"  th:if="${#request.isUserInRole('ADMIN')}"></td> -->
				 <td colspan="2">
					<div class="pull-right" align="center">
						<a
							th:href="@{modifyReq(page=${pageVO.page}, size=${pageVO.size},  type=${pageVO.type}, keyword=${pageVO.keyword}, tno=${vo.tno})}"
							class="btn btn-warning">수정요청</a> <a
							th:href="@{list(page=${pageVO.page}, size=${pageVO.size},  type=${pageVO.type}, keyword=${pageVO.keyword}, tno=${vo.tno})}"
							class="btn btn-dark">목록</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	$(window).on('load', function(){
		
		var msg = [[${msg}]];
		
		if(msg =='modSuccess') {
			alert("수정이 완료되었습니다.");
			var stateObj = { msg: "" };
		}		
		
	});
	</script>
</th:block>

</html>