<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div class="body" layout:fragment="body">


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">부서</th>
      <th scope="col">직급</th>
      <th scope="col">성명</th>
      <th scope="col">사번</th>
      <th scope="col">날짜</th>
      <th scope="col">출근시간</th>
      <th scope="col">퇴근시간</th>
      <th scope="col">비고</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>경영지원</td>
      <td>황규태</td>
      <td>수석</td>
      <td>NSR11803</td>
      <td>2019-01-01</td>
      <td>08:00</td>
      <td>18:40</td>
      <td>비고테스트1</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>경영지원</td>
      <td>양용훈</td>
      <td>선임</td>
      <td>NSR11617</td>
      <td>2019-01-01</td>
      <td>08:05</td>
      <td>18:15</td>
      <td>비고테스트2</td>
    </tr>
    <tr>
      <!-- <th scope="row">3</th> -->
      <td>경영지원</td>
      <td>장인식</td>
      <td>선임</td>
      <td>NSR11634</td>
      <td>2019-01-01</td>
      <td>08:10</td>
      <td>18:17</td>
      <td>비고테스트3</td>
    </tr>
    <tr>
      <!-- <th scope="row">4</th> -->
      <td>경영지원</td>
      <td>송득현</td>
      <td>선임</td>
      <td>NSR21823</td>
      <td>2019-01-01</td>
      <td>08:10</td>
      <td>18:10</td>
      <td>비고테스트4</td>
    </tr>
    <tr>
      <!-- <th scope="row">5</th> -->
      <td>경영지원</td>
      <td>윤동섭</td>
      <td>선임</td>
      <td>NSR11902</td>
      <td>2019-01-01</td>
      <td>08:20</td>
      <td>18:05</td>
      <td>비고테스트5</td>
    </tr>
  </tbody>
</table>


</div>