<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="copy">
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
	  <a class="navbar-brand" href="#">출퇴근테스트중</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link active" href="#">홈으로 <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">기능추가1</a>
	      <a class="nav-item nav-link" href="#">기능추가2</a>
	      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">기능추가3</a>
	    </div>
	  </div>
	</nav>
</div>